In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_data_folder = "../data/ratings.dat"

In [5]:
ratings = pd.read_csv(raw_data_folder, names=["u","v","r"], nrows=1000)

In [7]:
train_data_path =  "../data/matches_train.dat"
test_data_path =  "../data/matches_test.dat"


# freely adapted from https://towardsdatascience.com/beginners-guide-to-creating-an-svd-recommender-system-1fd7326d1f65
# assume ordered ratings so we predict the last ones.
# Corrections made:
# - dummy test and dummy train were interverted.
data = ratings
u = data['u'].unique() #list of all raters
v = data['v'].unique() #list of all ratees
test = pd.DataFrame(columns=data.columns)
train = pd.DataFrame(columns=data.columns)
test_ratio = 0.2 #fraction of data to be used as test set.
for u_id in u:
    temp = data[data['u'] == u_id]
    n = len(temp)
    train_size = int((1-test_ratio)*n)
    
    dummy_train = temp.iloc[:train_size]
    dummy_test = temp.iloc[train_size:]
    
    test = pd.concat([test, dummy_test], ignore_index=True)
    train = pd.concat([train, dummy_train], ignore_index=True)

train.to_csv(train_data_path, index=False)
test.to_csv(test_data_path, index=False)

In [31]:
train_data = pd.read_csv(train_data_path, nrows=1000,)
train_data

     u     v   r
0    1   133   8
1    1   720   6
2    1   971  10
3    1  1095   7
4    1  1616  10
..  ..   ...  ..
791  9  4579   8
792  9  4644   5
793  9  4676   7
794  9  4685   3
795  9  4870   3

[796 rows x 3 columns]

In [32]:
mean_rater_rating = train_data.groupby("u")["r"].mean().reset_index() 
mean_rater_rating

   u         r
0  1  6.641304
1  2  8.168831
2  3  7.687500
3  4  7.025000
4  5  8.702381
5  6  6.052632
6  7  5.265625
7  8  6.437500
8  9  5.654206

In [37]:
rater_index_dict = {mean_rater_rating["u"].loc[i]: i for i in range(len(mean_rater_rating))}

In [38]:
rater_index_dict

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}